services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: Passord123
      MYSQL_DATABASE: tverr    
      
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/dump:/docker-entrypoint-initdb.d/

    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u bedrift --password=Passord123
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 10
      
  app:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
        db:
         condition: service_healthy
      
      
#    image: sqlserv
#    environment:
#      MYSQL_ROOT_PASSWORD: Passord123
#      MYSQL_DATABASE: tverr